aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
attrs
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
dataclasses-json
Django
django-cors-headers
django-rename-app
Flask
frozenlist
greenlet
h11
httpcore
httpx
httpx-sse
idna
itsdangerous
Jinja2
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
multidict
mypy-extensions
numpy
ollama
orjson
packaging
pandas
propcache
pycparser
pydantic
pydantic-settings
pydantic_core
PyMySQL
python-dateutil
python-dotenv
pytz
PyYAML
requests
requests-toolbelt
six
sniffio
soupsieve
SQLAlchemy
sqlparse
tenacity
typing-inspect
typing_extensions
tzdata
urllib3
Werkzeug
yarl
zstandard
elastic-apm
djangorestframework