#logo-div{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    background-color: rgb(224, 216, 224);
    width: 300px;
    border-radius: 30px;
    box-shadow:0caps 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body{
    margin: 0;
    padding: 0;
    align-items: center;   
}