#settle_logo {
    height: 40%;
}

.profile-icon {
    margin-left: auto;
}

.profile-name {
    margin-left: auto;
}

.profile-details {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.app-home-page-header {
    background-color: #fefefe;
}