aiohappyeyeballs
aiohttp
aiosignal
aniso8601
annotated-types
anyio
asgiref
attrs
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
dataclasses-json
Django
django-cors-headers
django-rename-app
elastic-apm
Flask
frozenlist
graphene
graphene-django
graphene-sqlalchemy
graphql-core
graphql-relay
greenlet
h11
httpcore
httpx
httpx-sse
idna
itsdangerous
Jinja2
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
lia-web
MarkupSafe
marshmallow
multidict
mypy-extensions
numpy
ollama
orjson
packaging
pandas
promise
propcache
pycparser
pydantic
pydantic-settings
pydantic_core
PyMySQL
python-dateutil
python-dotenv
pytz
PyYAML
psutil
requests
requests-toolbelt
Rx
singledispatch
six
sniffio
soupsieve
SQLAlchemy
strawberry-graphql
sqlparse
strawberry-graphql-django
tenacity
text-unidecode
typing-inspect
typing_extensions
tzdata
urllib3
Werkzeug
yarl
zstandard
