.login-card {
  max-width: 400px;
  width: 90%;
  height: 75%;
  display: flex;
  /* Centers the child horizontally */
  justify-content: center;
  /* Centers the child vertically */
  align-items: center;
}
html, body {
  /* Ensure the container takes up the full screen height */
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  /* Centers the child horizontally */
  justify-content: center;
  /* Centers the child vertically */
  align-items: center;
  background-color: #120B42;
}

mat-form-field{
    width: 100%;
}

input 
{
    width: 100%;
}

img {
  width: 20%;
  padding-top: 2%;
  height: auto; /* Height adjusts proportionally to the width */
}

#settle_logo
{
    width: 60%;
    height: auto; /* Height adjusts proportionally to the width */
}

#login_button
{
    width: 296px;
    border-radius: 8px;
    background-color: #120B42;
}

.user-input-form
{
    margin-top: 20px;
    height: 200px;
}
.userDataInputs
{
    width: 100%;
    height: 30%;
}
mat-card-header{
  margin-top: 40px;
}