.info-panel{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
mat-card{
    width: 40%;
    padding: 20px;
    text-align: center;
    background-color: rgb(252 252 254);
}